p {
    color: white;
    font-size: 13px;
}
.nomeLine {
    font-size: 15px;
}
.Time {    
    display: flex;
    margin: 10px;}
.colorTime {
    display: flex;
    border-radius: 10px 0px 10px 0px;
    background-color: rgba(4, 153, 66, 0.897)
}
.tabela0 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 30px;
}
.tabela1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 30px;
}
.PtOpt {
    margin: 2px;
    border: 1px solid;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.897);
    border-radius: 10px 0px 10px 0px;
}

body {
    background: url("/fundo.jpeg");
    margin: 0;
    padding: 0;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}
.baseName {
    display: flex;
    margin-left: 260px;
    width: 170px;
    height: 20px;
    justify-content: space-between;
}
.nomeclature {
    font-size: 14px;
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
}
